@import './variables';
@import './base';

@mixin buttonMixin($bgColor) {
    padding: 0.5rem 1rem;
    background: $bgColor;
    color: $buttonTextColor;
    margin: 1rem;
    cursor: pointer;
    &:hover {
        background: darken($color: $bgColor, $amount: 25%);
    }
}

section {
    width: 75%;
    margin: 16px auto;
    padding: 3rem;
    background: $sectionBgColor;
    button {
        @include buttonMixin($buttonBgColor);
    }
}

footer {
    @extend section;
    button {
        @include buttonMixin($feedbackBgColor);
    }
}

article {
    color: black;
}
